<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/animation.css">
    <link rel="stylesheet" href="/public/css/responsivo.css">
    <title>Hospital São Lucas</title>
</head>
<body>
    <div class="topo">
        <a href=""><i class="fas fa-phone-alt fone"></i>(13) 2102-5000</a>
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
    </div>
    <header>
        <div class="logo"></div>
        <div class="menu_desktop">
            <ul>
                <li><a href="" class="efeito_btn">O HOSPITAL</a></li>
                <li><a href="" class="efeito_btn">ESPECIALIDADES</a></li>
                <li><a href="" class="efeito_btn">CONVÊNIOS</a></li>
                <li><a href="" class="efeito_btn">TRABALHE CONOSCO</a></li>
            </ul>
        </div>
        <div class="icon">
            <i class="fas fa-bars open"></i>
        </div>
        
        <div class="menu_mobile">
            <ul>
                <li><a href="" >O HOSPITAL</a></li>
                <li><a href="" >ESPECIALIDADES</a></li>
                <li><a href="" >CONVÊNIOS</a></li>
                <li><a href="" >TRABALHE CONOSCO</a></li>
            </ul>
        </div>

    </header>
    <section class="banner">
        <img src="/public/images/teste.jpg" alt="">
    </section>

    <script src="https://kit.fontawesome.com/f4dd9ff78b.js" crossorigin="anonymous"></script>
    <script src="/public/js/scripts.js"></script>
</body>
</html>