main.location{
    width: 100%;
    padding: 60px 0;
    background: #00abee07;
}

section.professional-highlight{
    display: flex;
}

section.professional-highlight h2{
    margin: 0 auto;
}

section.visit{
    display: flex;
    justify-content: space-around;
}

.pointer{
    cursor: pointer;
}

.pointer span{
    border-bottom: 1px solid var(--color);
    padding: 2px 0;
}

#mapid{
    width: 48%;
    height: 650px;
}


