@media screen and (max-width: 1080px){
    .wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1024px){
    .menu_desktop{
        display: none;
    }

    .menu_mobile{
        display: block;
    }

    .menu_mobile ul{
        display: none;
    }

    .icon{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .icon i{
        color: var(--color);
        transform: scale(1.5);
        padding-right: 2%;
    }
}

@media screen and (max-width: 890px){
    .wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px){
    header .logo{
        width: 140px;
        height: 60px;
        padding: 4px;
        background-repeat: no-repeat;
    }

    .cards, .wrapper-information{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content:center;
        margin: 0;
        padding: 0 2%;
        margin: 0 auto;
    }

    .banner{
        width: 100%;
        height: 200px;
        min-height: 200px;
        position: relative;
        
    }
    
    .banner img.selected{
        width: 100%;
        height: 100%;
    }
    
    section.visit{
        flex-direction: column;
        width: 100%;
    }

    #mapid{
        width: 100%;
        height: 650px;
        padding: 0 2%;
    }

    .fale-conosco{
        width: 100%;
    }
    
    .form-fale-conosco fieldset, .form-trabalhe-conosco fieldset{
        width: 100%;
        margin-bottom: 52px;
    }

    .input-block{
        width: 100%;
        padding: 0 2%;
    }

    .input-block input[type="file"]{
        width: 100%
    }

    main.trabalhe-conosco .appear{
        width: 100%;
    }

    .menu-search button{
        margin: 0;
    }

    .professionals{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px){
    .cards, .wrapper-information{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .wrapper{
        grid-template-columns: 1fr 1fr;
    }

    footer .copy{
        font-size: 10px;
    }

    footer .copy.dev{
        font-size: 8px;
    }
    
    .contact-footer{
        flex-direction: column;
        padding: 0 2%;
    }

    .contact-us{
        margin-bottom: 24px;
    }

    .social-media i{
        margin-right: 20px;
    }

    .general-services{
        flex-direction: column;
        padding: 0 2%;
    }

}

@media screen and (max-width: 555px){
    .professionals{
        grid-template-columns: 1fr;
    }

    .professionals#ortopedistaEsp{
        grid-template-columns: 1fr;
    }

    main.specialties .menu-search{
        flex-direction: column;
        gap: 20px;
    }

    .menu-search button span{
        padding: 12px 0;
    }

    main.specialties h1{
        text-align: center;
    }

    .menu-search button{
        width: 70%;
        height: auto;
    }

    .wrapper{
        padding: 2rem 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .copy{
        font-size: 12px;
    }
}

